footer p {
  margin: 0 !important;
}

img {
  margin: 0.5rem 0;
}

.page-group {
  padding: 3rem 0;
}

.content-group {
  padding-bottom: 1.5rem;
} .content-group:last-child {
  padding-bottom: 0;
}



.btn-primary {
  background-color: #ff5731 !important;
  color: #fff;
  border: none !important;
}

.btn-primary:hover {
  background-color: #ff7f3f !important;
  color: #fff; 
}

.btn-primary:active {
  background-color: #e64c3b !important;
  color: #fff;
}


.alert {
  margin-top: 1rem;
  margin-bottom: 0 !important;
}

